/* html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
h1{
    background-color: plum;
    color:blue;
    text-align: center;
    padding: 1em;
}
.theme{
    color :#a6fd93;
    background-color: #121b70;
    padding: 1em;
}   
#myid{
    color :#1c8d86;
    background-color: #928d9c;
    padding: 1em;
} */